<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>1073460631405-ppd9qp0nb90m5er3p8c1fu5m0d7a6p0t.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.1073460631405-ppd9qp0nb90m5er3p8c1fu5m0d7a6p0t</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>1073460631405-11ghloretur6nep53elj5cp36qo7n3bo.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>PLACE_YOUR_IOS_API_KEY_HERE</string>
	<key>GCM_SENDER_ID</key>
	<string>1073460631405</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.wrteam.erestropartner</string>
	<key>PROJECT_ID</key>
	<string>erestro</string>
	<key>STORAGE_BUCKET</key>
	<string>erestro.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:1073460631405:ios:347131e4dfea57e84fac64</string>
</dict>
</plist>
